<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="icon" href="/img/logo.png">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    {{!-- CSS Stylesheets --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/profile.css">

    {{!-- Bootstrap Scripts --}}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"
        integrity="sha512-OvBgP9A2JBgiRad/mM36mkzXSXaJE9BEIENnVEmeZdITvwT09xnxLtT4twkCa8m/loMbPHsvPl0T8lRGVBwjlQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    {{!-- Google Fonts --}}
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="header">
        <div class="menu-bar">
            <nav id="navbar" class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand"><img src="./img/logo.png" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">My Tasks</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                Logout
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" id="logOut">Logout</a></li>
                                <li><a class="dropdown-item" href="#" id="logOutAll">Logout from all devices</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#footer">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <section class="container">
        <h1 class="large">
            <i class="fas fa-user"></i> User Information
        </h1>
        <form class="form userInfoForm">
            <div class="form-group">
                <label><i class="fas fa-user"></i> Username</label><br>
                <input type="text" placeholder="Username" id="username" value="" name="username" />
            </div>
            <div class="form-group">
                <label><i class="fas fa-envelope"></i> Email</label><br>
                <input type="email" placeholder="Email" id="email" value="" name="email" />
            </div>
            <div class="form-group">
                <label>Age</label><br>
                <input type="number" placeholder="Age" id="age" value="" name="age" />
            </div>
            <button type="submit" class="btn btn-dark">Update</button>
      </form>
    </section>

    <section class="container">
        <h1 class="large">
            <i class="fas fa-user-shield"></i> Security And Privacy
        </h1>
        <form class="form userPassForm">
            <div class="form-group">
                <label><i class="fas fa-key"></i> New Password</label><br>
                <input type="password" placeholder="Password" id="password" value="" name="password" />
            </div>
            <button type="submit" class="btn btn-dark">Update</button>
      </form>
    </section>

    <section class="container">
        <form class="form userDeleteAction">
            <div class="form-group">
                <label><i class="fas fa-exclamation-triangle"></i> This action cannot be undone</label><br>
                <button type="submit" class="btn btn-danger deleteBtn">Delete My Account</button>
            </div>
      </form>
    </section>

    {{>footer}}

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/js/profile.js"></script>
</body>

</html>