<footer id="footer">
    <p>@TaskManger</a></p>
    {{!-- <a class="fLinks" href="https://www.linkedin.com/in/anurag-jain-442ba4190/"><i class="linked fab fa-linkedin"></i></a>
    <a class="fLinks" href="mailto:jainanurag941@gmail.com"><i class="email fas fa-envelope"></i></a> --}}
</footer>